<div class="container pokedex">
    <div class="row">
        <div class="panel panel-info logo">
        <img src="img/pokemon-logo.gif" alt="img/pokemon-logo.gif" class="img-responsive center-block">
        </div>
    </div>
    <div class="row panel search">
        <label for="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Search:</label>
        <input type="text" #box class="col-xs-9 col-sm-9 col-md-9 col-lg-9" (keyup)="search(box.value)" />
    </div>
    <div class="row">
        <div class="row" *ngIf="isLoading">
            <img src="img/loading.gif" />
        </div>
        <div class="row">
            <pokemon *ngFor="let p of pokemonsFiltered"
                [name]="p.name"
                [img]="p.img">
            </pokemon>
        </div>
    </div>
</div>